:root {
    --dark-color: #2E2F42;
    --text-color: #434455;
    --primary-brand-color: #4D5AE5;
    --background-color: #FFFFFF;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --btn-active-color: #404BBF;
}

/* prettierjson
gitignore */

body {
    font-family: 'roboto', sans-serif;
    color: var(--dark-color);
    background-color: var(--background-color);
}

/*---------- HEADER------------ */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo-web {
    color: var(--primary-brand-color);
}

.link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-decoration: none;
}

.link:hover {
    color: var(--text-color);
}
.link:focus {
    color:var(--primary-brand-color);
}

.header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-decoration: none;
}

.header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-transform: uppercase;
    text-decoration: none;
}

.header-mail:hover,
.header-mail:focus {
    color: var(--primary-brand-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--primary-brand-color);
}

.site-nav {
    list-style: none;
}

/*---------- HERO------------ */

.hero {
    background: var(--dark-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
    text-align: center;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: var(--background-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.hero-btn:active {
    background: var(--btn-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ----------SECTIONS---------------- */

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.section-list-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

.section-list {
    list-style: none;
}

/* -------------TEAM--------------- */

.team {
    background-color: var(--light-color);
}

.team-list-title {
    text-align: center;
}

.team-list-text {
    text-align: center;
}

/* ------------FOOTER------------- */

.footer {
    background: var(--dark-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--light-color);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo-web {
    color: var(--primary-brand-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}