body {
    font-family: 'roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.site-body {}


/*---------- HEADER------------ */

.header {
    background-color: #FFFFFF;
}

.header-navigation {}

.header-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.header-logo-web {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.header-logo :hover {
    color: #404BBF;
}
.header-logo :focus {
    color:#4D5AE5;
}

.header-list {}

.header-item {}

.header-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link :hover {
    color: #404BBF;
}
.header-link :focus {
    color:#4D5AE5;
}

.header-mail {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-mail :hover {
    color: #404BBF;
}
.header-mail :focus {
    color:#4D5AE5;
}

.header-tel {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-tel :hover {
    color: #404BBF;
}
.header-tel :focus {
    color: #4D5AE5;
}

/*---------- HERO------------ */

.hero {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.about {}

.about-list {}

.about-item {}

.about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.examples {}

.examples-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.examples-list {}

.examples-item {}

.team {
    background: #F4F4FD;
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {}

.team-item {}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background: #2E2F42;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo :hover {
    color: #404BBF;
}
.footer-logo :focus {
    color: #4D5AE5;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}